.banner{
    background-color: yellow;
    margin-width:100px;
    margin-height:100px;
    margin-right:100px;
}

.banner-text{
    margin-left:700px;
    margin-left:700px;
    position:center;
    transform:transform;

}